@font-face {
  font-family: "Netflix-Sans";
  src: local("NetflixSans-Regular"),
    url("./fonts/NetflixSans-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "Netflix-Sans Bold";
  src: local("NetflixSans-Bold"),
    url("./fonts/NetflixSans-Bold.woff2") format("woff2");
}

@font-face {
  font-family: "Netflix-Sans Light";
  src: local("NetflixSans-Light"),
    url("./fonts/NetflixSans-Light.woff2") format("woff2");
}

@font-face {
  font-family: "Netflix-Sans Medium";
  src: local("NetflixSans-Medium"),
    url("./fonts/NetflixSans-Medium.woff2") format("woff2");
}

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');


body {
  margin: 0;
  display: flex;
  flex-direction: column;
  font-family: 'Inter', 'Netflix-Sans', 'Roboto', sans-serif;
}

@import url('@fortawesome/fontawesome-free/css/fontawesome.min.css');

.nav {
  /* Auto layout */

  /* display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 25px 60px;

  position: absolute;
  width: 100%;
  height: 24px;
  left: 0px;
  top: 0px; */

  /* Black */

  /* background: #141414;
  margin-bottom: 10px; */
}

* {
  box-sizing: border-box;
}

.nav {
  height: 100%;
  width: 100%;
  margin-bottom: 10px;
  background-color: #141414;
  position: relative;
  padding: 10px 60px;
  font-size: 14px;

}

.nav>.nav-header {
  display: inline;
}

.nav>.nav-header>.nav-title {
  display: inline-block;
  font-size: 22px;
  color: #fff;
  padding: 10px 10px 10px 10px;
}

.nav>.nav-btn {
  display: none;
}

.nav>.nav-links {
  display: inline;
  font-size: 14px;
}

.nav>.nav-links.right {
  display: inline;
  float: right;
  font-size: 14px;
}

.nav>.nav-links>a {
  display: inline-block;
  padding: 13px 10px 13px 10px;
  text-decoration: none;
  color: #efefef;
}

.nav>.nav-links>a:hover {
  background-color: rgba(0, 0, 0, 0.3);
}

.nav>#nav-check {
  display: none;
}

@media (max-width: 600px) {
  .nav>.nav-btn {
    display: inline-block;
    position: absolute;
    right: 0px;
    top: 0px;
  }

  .nav>.nav-btn>label {
    display: inline-block;
    width: 50px;
    height: 50px;
    padding: 13px;
  }

  .nav>.nav-btn>label:hover,
  .nav #nav-check:checked~.nav-btn>label {
    background-color: rgba(0, 0, 0, 0.3);
  }

  .nav>.nav-btn>label>span {
    display: block;
    width: 25px;
    height: 10px;
    border-top: 2px solid #eee;
  }

  .nav>.nav-links {
    position: absolute;
    display: block;
    width: 100%;
    background-color: #333;
    height: 0px;
    transition: all 0.3s ease-in;
    overflow-y: hidden;
    top: 50px;
    left: 0px;
  }

  .nav>.nav-links>a {
    display: block;
    width: 100%;
  }

  .nav>#nav-check:not(:checked)~.nav-links {
    height: 0px;
  }

  .nav>#nav-check:checked~.nav-links {
    height: calc(100vh - 50px);
    overflow-y: auto;
  }
}

.footer {
  font-size: 12px;
  background-color: #141414;
  color: #808080;
  width: 100%;
  height: auto;
  padding: 20px 80px 30px 80px;
  margin-top: auto;
}

.footer .footer-links {
  padding: 0px;
  column-count: 4;
  list-style: none;
}

.footer .footer-links li {
  width: 150px;
  margin-bottom: 5px;
}

.copyright {
  font-size: 10px;
}